/* LAYOUT */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5px 7.5px;
    transition: width 1s ease-in-out;
}
.header {
    text-align: center;
    margin: 0 auto;
}
.header h3 {
    margin: 0;
    color: #fff;
}
.header-title {
    font-family: fira-sans, monospace;
}
.header-title span {
    color: #396;
}
.content-area {
    position: relative;
}
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    font-weight: bold;
}
footer .copyright {
    float: right;
    margin: 10px 20px;
    position: relative;
}
footer .copyright i {
    float: right;
    position: absolute;
    top: 2px;
    font-size: 24px;
}
footer .copyright span {
    display: inline-block;
    margin-left: 32px;
}
/* MENU */
.menu .toggle-menu {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu .bars-icon {
    display: block;
    cursor: pointer;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}
.menu .close-icon {
    cursor: pointer;
    color: #fff;
    z-index: 1;
    align-self: flex-start;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-y: auto;
    display: flex;
    align-items: center;
}
.overlay nav {
    margin: auto;
}
.overlay img {
    z-index: 1;
    align-self: flex-end;
    width: 42px;
    height: 42px;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
}
.overlay ul:first-child {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid #222;
}
.overlay ul li {
    display: flex;
}
.overlay ul li > span {
    color: #fff;
}
.overlay ul li > span:first-child {
    margin: auto 10px;
    color: #396;
}
.overlay ul li a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

    text-shadow: none;
    color: #fff;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #777;
}
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s, transform 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s, transform 0.5s;
    -webkit-transform: translateY(30%) rotateX(-35deg);
    transform: translateY(30%) rotateX(-35deg);
    transition-timing-function: ease-in-out;
}
.overlay-hugeinc nav {
    -moz-perspective: 300px;
    perspective: none;
}
.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(30%) rotateX(-35deg);
    transform: translateY(30%) rotateX(-35deg);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.5s;
    transition: transform 0.6s, opacity 0.5s;
    transition-timing-function: ease-in-out;
}
.overlay-hugeinc.menu-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
}
.overlay-hugeinc.menu-visible nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}
/* BANNER */
.banner-image {
    background-size: 100% auto;
    background-position: right;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1s ease-in;
}
.banner-image.loading {
    opacity: 0;
}
.banner-image.success {
    opacity: 1;
}
.banner-image.placeholder {
    filter: blur(10px);
    opacity: 1;
}
.banner-image.gradient {
    background: radial-gradient(farthest-corner at 0 0, transparent 0%, #111 100%);
}
.banner-container {
    position: relative;
}
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner .quotee {
    color: #396;
    text-align: right;
    text-shadow: none;
}
.banner .quote {
    margin: 0;
    color: #fff;
}
.image-link {
    background-image: none;
}
/* HEADER */
#logo {
    position: absolute;
    top: 0;
    right: 0;
}
#logo canvas {
    border: 2px solid#396;
}
/* SAMAI */
.samai {
    position: absolute;
    filter: brightness(20%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* SIDE CONTENT */
.sidebar-content img {
    padding: 5px;
    border: 2px solid #396;
}
.sidebar-content .link {
    text-shadow: none;
    color: #fff;
}
.sidebar-content .icon {
    color: #396;
}
.sidebar-content .summary {
    text-align: center;
    color: #fff;
    border: solid #042;
    border-width: 1px 0;
    margin-bottom: 5px;
}
.sidebar-content .doubleSlash {
    color: #396;
    font-weight: bold;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
    blockquote {
        border-left-color: #396;
    }
}
@media only screen and (max-width: 1300px) {
    .banner-image {
        background-size: auto 100%;
        background-position: center;
    }
}
