.react-parallax-background-children {
    width: 100%;
}
.react-parallax-bgimage {
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    max-width: none;
}
.header-container {
    text-align: center;
}
.banner-image {
    background-size: auto 100%;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-image.loading.success {
    filter: blur(5px);
    transition: -webkit-filter 0s;
    -webkit-filter: blur(5px);
    -webkit-transition: -webkit-filter 0s;
}
.banner-image.loading.complete {
    filter: blur(0);
    transition: filter 1s;
    -webkit-filter: blur(0);
    -webkit-transition: -webkit-filter 1s;
}
.banner-container {
    position: relative;
    background: radial-gradient(
        farthest-corner at 0 0,
        transparent 0%,
        #111 100%
    );
}
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner .quotee {
    color: #fff;
    text-align: right;
    text-shadow: none;
}
.banner .quote {
    margin: 0;
    color: #fff;
}
@media only screen and (max-width: 480px) {
    blockquote {
        border-left-color: #396;
    }
}
